PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_NAME=authdb
DB_USER=track_next
DB_PASSWORD=<<password>>
JWT_SECRET=<<your secret >>
NODE_ENV=dev
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_USER=apikey
EMAIL_PASS=your_api_key
FRONTEND_URL=http://localhost:3000/
